{% extends "layout.html" %}
{% block body %}
<div class="container">
    <h1>カテゴリ一覧</h1>
    <a href="/question/list" class="button button-outline">問題一覧に戻る</a>
    <a href="/category/insert" class="button button-outline">カテゴリ追加</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>カテゴリ名</th>
                <th style="text-align: right;">編集／削除</th>
            </tr>
        </thead>
        <tbody>
            {% for v in list %}
            <tr>
                <td>{{ v.id }}</td>
                <td>{{ v.name }}</td>
                <td style="text-align: right;"><a href="/category/update/{{v.id}}">編集／削除</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}