<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex,nofollow">
    <title>練習問題</title>
    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <style>
        .container {
            padding: 30px 0;
        }

        label {
            display: inline;
        }
    </style>
</head>

<body>
    {% block body %}{% endblock %}
</body>

</html>