{% extends "layout.html" %}
{% block body %}
<div class="container">
    <h1>問題編集／削除</h1>
    <a href="/crud/question/list" class="button button-outline">問題一覧に戻る</a>
    <form action="/crud/question/update/{{row.id}}" method="post">
        カテゴリ：<br>
        <select name="category_id">
            {% for v in cate %}
            {% if v.id == row.category_id %}
            <option value="{{v.id}}" selected>{{v.name}}</option>
            {% else %}
            <option value="{{v.id}}">{{v.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
        答え：<br>
        <input type="text" name="answer" value="{{row.answer}}" required>
        問題：答えてもらう箇所は「❓」の絵文字をコピーペースト<br>
        <textarea name="question" style="height:200px;" required>{{row.question}}</textarea>
        <input class="button-primary" type="submit" value="編集">
    </form>
    <h2>削除</h2>
    <form action="/crud/question/delete/{{row.id}}" method="post">
        <input class="button-primary" type="submit" value="削除" onclick="return confirm('削除しますか？')">
    </form>
</div>
{% endblock %}